*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

header{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 20px;
    background-color: #3333FF;

    margin-bottom: 20px;
}

.titulo{
    font-size: 18px;
}

.imagem{
    border: none;
    border-radius: 5px;
    display: flex;
    margin: 10px 0;
    max-width: 450px;

}

.subtitulo{
    max-width: 450px;
    margin-bottom: 10px;
}

.botao{
   width: 450px;
   padding: 5px;
   color: #3333FF;
   border: solid hsl(240, 100%, 60%) 2px;
   margin-bottom: 20px;
   transition: all 0.8s;
}

.botao:hover{
    background-color: #3333FF;
    color: white;
    cursor: pointer;
}

